@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.navbar-custom {
    /* background-color: #ff8787; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo-text {
    color: #243755;
    font-weight: bold;
    font-size: 1.5re    m;
    text-decoration: none;
    margin-left: 7%;
    /* background-color: #4b5563; */
    /* width: 370px; */
    /* height: 42px; */
    font-family: 'nunito';
    font-weight: 900;
    font-style: 'black';
    font-size: 39px;
    line-height: 39px;
}

.nav-link-custom {
    width: 526px;
    height: 19px;
    color: #777777;
    margin-right: 1.5rem;
    position: relative;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 16px;
    line-height: 100%;
    
}

.nav-link-custom.active {
    color: #FFA1AC;
    font-family: 'Roboto';
    font-weight: 900;
    font-style: 'black';
    font-size: 16px;
    line-height: 100%;
}

.nav-link-custom.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFA1AC;
    bottom: -5px;
    left: 0;
}

.btn-get-started {
    color: #FFFFFF;
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: 18px;
    line-height: 18px;
    margin-left: 1.5rem;
    background: url(src/coaching-shop/Group\ 258.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 193px;
    height: 54px;
}

.btn-get-started:hover {
    color: #ffffff;
}

.search-icon {
    color: #9ca3af;
    cursor: pointer;
}

.colorful-lines {
    display: flex;
    gap: 1%;
    width: 100%;
}

.line {
    height: 4px;
    width: 72px;
    /* flex-grow: 1; */
}

.line:nth-child(1) { background-color: #FFD3BD; }
.line:nth-child(2) { background-color: #B3D0FD; }
.line:nth-child(3) { background-color: #FFF8B8; }
.line:nth-child(4) { background-color: #94EDCA; }
.line:nth-child(5) { background-color: #FFD3BD; }
.line:nth-child(6) { background-color: #B3D0FD; }
.line:nth-child(7) { background-color: #FFF8B8; }
.line:nth-child(8) { background-color: #94EDCA; }
.line:nth-child(9) { background-color: #FFD3BD; }
.line:nth-child(10) { background-color: #B3D0FD; }
.line:nth-child(11) { background-color: #FFF8B8; }
.line:nth-child(12) { background-color: #94EDCA; }
.line:nth-child(13) { background-color: #FFD3BD; }
.line:nth-child(14) { background-color: #B3D0FD; }
.line:nth-child(15) { background-color: #FFF8B8; }
.line:nth-child(16) { background-color: #94EDCA; }
.line:nth-child(17) { background-color: #FFD3BD; }
.line:nth-child(18) { background-color: #B3D0FD; }
.line:nth-child(19) { background-color: #FFF8B8; }
.line:nth-child(20) { background-color: #94EDCA; }


.help-section {
    margin-top: 8px;
    background-image:
    linear-gradient(to right,
            rgba(245, 241, 233, 0.95) 10%,
            rgba(245, 241, 233, 0.8) 40%,
            rgba(245, 241, 233, 0) 60%
        ),
        url('src/coaching-shop/main-hero-img.png');
    /* transform: scaleX(-1); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
    width: 100%;
    /* margin-left: 50%; */
    min-height: 70vh;
}

.main-content-text-111 h1{
    width: 624px;
    height: 130px;
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: 65px;
    line-height: 65px;
    word-spacing: 10px;
    color: #243755;
    margin-left: 20%;
}


.original-price {
    color: #243755; 
    font-family: 'roboto';
    font-weight: 800;
    font-style: 'extrabold';
    font-size: 25px;
    line-height: 30px;
    word-spacing: 1px;
}

.current-price{
    font-family: 'roboto';
    font-weight: 800;
    font-style: 'extrabold';
    font-size: 25px;
    line-height: 30px;
    word-spacing: 1px;
    color: #243755;
}

.sale-price{
    font-family: 'roboto';
    font-weight: 800;
    font-style: 'extrabold';
    font-size: 25px;
    line-height: 30px;
    word-spacing: 1px;
    color: #FFA1ACE5;
}

.card-img-top {
    object-fit: cover;
    height: auto;
}

.image-wrapper{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.image-wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    background-color: #FFA1AC;
    opacity: 0.7;
    z-index: 1;
}

.card-body {
    padding-top: 0.5rem;
}

.card-title{
    font-family: 'nunito';
    font-weight: 600;
    font-style: 'semibold';
    font-size: 21px;
    line-height: 30px;
    word-spacing: 1px;
    color: #000000;
}


:root {
    --footer-bg: #243755;
    --text-color: #a0aec0;
    --heading-color: #FFFFFF;
    --accent-color: #E0ABA8;
    --logo-color: #8EAFE2;
}

.site-footer {
    background-color: var(--footer-bg);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.footer-logo {
    width: 228px;
    height: 84px;
    font-style: 'black';
    font-family: 'Nunito';
    font-size: 78px;
    line-height: 78px;
    font-weight: 900;
    color: var(--logo-color);
}

.footer-heading {
    width: 207px;
    height: 26px;
    font-family: 'Nunito';
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 900;
    font-style: 'Black';
    line-height: 35px;
    position: relative;
}

.footer-heading::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 110px;
    background-color: var(--accent-color);
}

.footer-text {
    width: 362px;
    height: 60px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 16px;
    line-height: 30px;
    word-spacing: 1px;
    color: #FFFFFF;
}

.footer-text-2 {
    width: 524px;
    height: 55px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 16px;
    line-height: 30px;
    word-spacing: 1px;
    color: #FFFFFF;
    margin-top: 20px;
}

.footer-links {
    margin-top: 10px;
    font-size: 0.9rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    word-spacing: 1px;
    font-style: 'regular';
    color: var(--heading-color);
}

.footer-links li {
    margin-bottom: 0.9rem;
    cursor: pointer;
}

.footer-email {
    color: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-style: 'Bold';
    font-size: 18px;
    line-height: 30px;
    word-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;
}

.social-icon {
    display: inline-block;
    width: 43px;
    height: 43px;
    background-color: rgba(255, 255, 255, 0.15);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.footer-divider {
    border-top: 4px solid #8EAFE2;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.copyright-text {
    font-family: 'Nunito';
    font-weight: 600;
    font-style: 'regular';
    font-size: 16px;
    line-height: 100%;
    color: var(--heading-color);
}

.copyright-text span{
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: 16px;
    line-height: 100%;
    color: var(--logo-color);
}
