@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.navbar-custom {
    /* background-color: #ff8787; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo-text {
    color: #243755;
    font-weight: bold;
    font-size: clamp(24px, 5vw, 39px);
    text-decoration: none;
    margin-left: 7%;
    /* background-color: #4b5563; */
    /* width: 370px; */
    /* height: 42px; */
    font-family: 'nunito';
    font-weight: 900;
    font-style: 'black';
    font-size: 39px;
    line-height: 1;
}

.nav-link-custom {
    /* width: 526px; */
    /* height: 19px; */
    color: #777777;
    margin-right: 1.5rem;
    position: relative;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    display: inline-block;
    padding: 10px 0;
    font-style: 'regular';
    font-size: 16px;
    line-height: 100%;
    
}

.nav-link-custom.active {
    color: #FFA1AC;
    font-family: 'Roboto';
    font-weight: 900;
    font-style: 'black';
    font-size: 16px;
    line-height: 100%;
}

.nav-link-custom.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFA1AC;
    bottom: 5px;
    left: 0;
}

.btn-get-started {
    color: #FFFFFF;
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: 18px;
    line-height: 18px;
    margin-left: 1.5rem;
    background: url(src/aboutus-coaching/Group\ 258.png) no-repeat center;
    /* background-repeat: no-repeat; */
    background-size: contain;
    width: 193px;
    height: 54px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-get-started:hover {
    color: #ffffff;
}

.search-icon {
    color: #9ca3af;
    cursor: pointer;
}

.colorful-lines {
    display: flex;
    gap: 1%;
    width: 100%;
    height: 4px;
    overflow: hidden;
}

.line {
    height: 100%;
    width: 72px;
    flex: 1;
}

.line:nth-child(4n+1) { background-color: #FFD3BD; }
.line:nth-child(4n+2) { background-color: #B3D0FD; }
.line:nth-child(4n+3) { background-color: #FFF8B8; }
.line:nth-child(4n+4) { background-color: #94EDCA; }

@media (max-width: 991.98px) {
    .navbar-nav {
        padding: 20px 0;
        text-align: center;
    }

    .nav-link-custom {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .btn-get-started {
        margin: 10px auto;
    }

    .logo-text {
        margin-left: 0;
    }

    .line:nth-child(n+12) {
        display: none;
    }
}


/* Hero section */
.help-section {
    margin-top: 8px;
    background:
    linear-gradient(to right,
            rgba(245, 241, 233, 0.95) 10%,
            rgba(245, 241, 233, 0.8) 40%,
            rgba(245, 241, 233, 0) 60%
        ),
        url('src/aboutus-coaching/background-main-hero.png');
    /* transform: scaleX(-1); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0;
    width: 100%;
    display: flex;
    min-height: 70vh;
}

/* .text-bg-pink {
    background-color: #FFA1AC !important;
    color: #FFFFFF !important; */
    /* padding: .5em .75em; */
    /* font-size: 18px; */
    /* font-family: 'nunito';
    font-weight: 900;
    font-style: 'black';
    line-height: 18px;
    width: 197px;
    height: 38px;   
} */

.main-content-text-111 h1{
    max-width: 650px;
    /* height: 130px; */
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: calc(2.5rem + 1.5vw);
    line-height: 1.1;
    word-spacing: 5px;
    color: #243755;
    margin-left: 0%;
}

@media (max-width: 991px) {
    .help-section {
        background: linear-gradient(to right, rgba(245, 241, 233, 0.9), rgba(245, 241, 233, 0)), 
                    url('src/aboutus-coaching/background-main-hero.png');
        background-position: center;
        text-align: center;
    }
    
    .main-content-text-111 h1 {
        margin: 0 auto;
    }
}

/* .help-section h1, .help-section p { */
    /* color: #243755; */
/* } */

.btn-learn-more {
    border-radius: 50rem;
    width: 193px;
    height: 54px;
    text-transform: capitalize;
    background: url(src/coaching/button-33.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-started-11{
    font-family: 'Nunito';
    font-weight: 800;
    font-style: 'black';
    font-size: 18px;
    line-height: 40px;
    word-spacing: 3px;
    color: #FFFFFF;
    max-width: 624px;
}

/* hero section */
.need-help-badge{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 197px;
    height: 38px;
    border-radius: 10px;
    background-color: #FFA1AC;
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 900;
    font-style: 'Black';
    line-height: 18px;
    word-spacing: 1px;
    color: #FFFFFF;
}

.contact-info-section h2{
    width: 669px;
    height: 37px;
    font-family: 'Nunito';
    font-size: clamp(32px, 5vw, 45px);
    font-style: 'black';
    font-weight: 900;
    line-height: 45px;
    word-spacing: 1px;
    color: #243755;
}

.address-text{
    font-family: 'roboto';
    font-size: 16px;
    line-height: 1.8;
    color: #777777;
    max-width: 250px;
}

.email-link a{
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 700;
    color: #FFA1AC;
    line-height: 1.8;
    text-decoration: underline;
}

.social-icon-bg-all, .social-icon-bg-fb{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}

.contact-info-section p{
    width: 220px;
    height: 55px;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: 'black';
    font-weight: 400;
    line-height: 30px;
    word-spacing: 1px;
    color: #777777;
}

.contact-info-section p a{
    width: 220px;
    height: 35px;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: 'bold';
    font-weight: 700;
    line-height: 30px;
    word-spacing: 1px;
    color: #FFA1AC;
    text-decoration: underline solid 0% 0%;
}

.social-icon-bg-all {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    color: #777777;
    background-color: #F1F1F1;
    transition: background-color 0.3s;
}

.social-icon-bg-fb{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    background-color: #243755;
    transition: background-color 0.3s;
}

.social-icons a:hover {
    opacity: 0.8;
}

/* .bg-custom-light {
    background-color: #f8f9fa;
} */

.custom-input{
    height: 66px;
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    background-color: #EBEBEB;
    padding-left: 20px;
    font-family: 'roboto';
}

.custom-textarea{
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    background-color: #EBEBEB;
    padding: 20px;
    font-family: 'roboto';
}

.form-need-help div input{
    width: 355px;
    height: 66px;
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    background-color: #EBEBEB;
    color: #ABA9A9;
    font-family: 'roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 15px;
    line-height: 17px;
    word-spacing: 1px;
    padding-left: 30px;
}

.form-need-help div textarea{
    /* width: 770px; */
    height: 262px;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    background-color: #E2E2E2;
    color: #ABA9A9;
    font-family: 'roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 15px;
    line-height: 17px;
    word-spacing: 1px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-top: 20px;
}

.btn-explore-more {
    color: #FFFFFF;
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: 18px;
    line-height: 18px;
    background: url(src/aboutus-coaching/button-33.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 210px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

@media (max-width: 991px) {
    .contact-info-section {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .address-text {
        max-width: 100%;
    }
}

/* footer section */
:root {
    --footer-bg: #243755;
    --text-color: #a0aec0;
    --heading-color: #FFFFFF;
    --accent-color: #E0ABA8;
    --logo-color: #8EAFE2;
}

.site-footer {
    background-color: var(--footer-bg);
    color: var(--text-color);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.footer-logo {
    width: 228px;
    height: 84px;
    font-style: 'black';
    font-family: 'Nunito';
    font-size: clamp(40px, 8vw, 78px);
    line-height: 1;
    font-weight: 900;
    color: var(--logo-color);
}

.footer-heading {
    width: 207px;
    height: 26px;
    font-family: 'Nunito';
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 900;
    font-style: 'Black';
    line-height: 1.2;
    position: relative;
    display: inline-block;
}

.footer-heading::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 60px;
    background-color: var(--accent-color);
}

.footer-text {
    max-width: 400px;
    height: 60px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 16px;
    line-height: 1.6;
    word-spacing: 1px;
    color: #FFFFFF;
}

.footer-text-2 {
    max-width: 100%;
    height: 55px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 16px;
    line-height: 1.6;
    word-spacing: 1px;
    color: #FFFFFF;
    margin-top: 20px;
}

.footer-links {
    margin-top: 10px;
    padding-left: 0;
    font-size: 0.9rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    word-spacing: 1px;
    font-style: 'regular';
    color: var(--heading-color);
}

.footer-links li {
    line-height: 2.2;
    transition: color 0.3s;
    margin-bottom: 0.9rem;
    cursor: pointer;
}

.footer-email {
    color: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-style: 'Bold';
    font-size: 18px;
    line-height: 30px;
    word-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;
    word-break: break-all;
}

.social-icon {
    display: flex;
    width: 43px;
    height: 43px;
    background-color: rgba(255, 255, 255, 0.15);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.footer-divider {
    border-top: 4px solid #8EAFE2;
    opacity: 1;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.copyright-text {
    font-family: 'Nunito';
    font-weight: 600;
    font-style: 'regular';
    font-size: 16px;
    line-height: 100%;
    color: var(--heading-color);
}

.copyright-text span{
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: 16px;
    line-height: 100%;
    color: var(--logo-color);
}

@media (max-width: 767px) {
    .site-footer {
        text-align: center;
    }
    .footer-heading::after {
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-text, .footer-text-2 {
        margin: 0 auto;
    }
    .social-icons {
        justify-content: center;
    }
    .footer-links {
        margin-bottom: 20px;
    }
}