@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* navbar section */
.navbar-custom {
    /* background-color: #ff8787; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo-text {
    color: #243755;
    font-weight: bold;
    font-size: clamp(24px, 5vw, 39px);
    text-decoration: none;
    margin-left: 7%;
    /* background-color: #4b5563; */
    /* width: 370px; */
    /* height: 42px; */
    font-family: 'nunito';
    font-weight: 900;
    font-style: 'black';
    font-size: 39px;
    line-height: 1;
}

.nav-link-custom {
    /* width: 526px; */
    /* height: 19px; */
    color: #777777;
    margin-right: 1.5rem;
    position: relative;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    display: inline-block;
    padding: 10px 0;
    font-style: 'regular';
    font-size: 16px;
    line-height: 100%;
    
}

.nav-link-custom.active {
    color: #FFA1AC;
    font-family: 'Roboto';
    font-weight: 900;
    font-style: 'black';
    font-size: 16px;
    line-height: 100%;
}

.nav-link-custom.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFA1AC;
    bottom: 5px;
    left: 0;
}

.btn-get-started {
    color: #FFFFFF;
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: 18px;
    line-height: 18px;
    margin-left: 1.5rem;
    background: url(src/coaching/Group\ 258.png) no-repeat center;
    /* background-repeat: no-repeat; */
    background-size: contain;
    width: 193px;
    height: 54px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-get-started:hover {
    color: #ffffff;
}

.search-icon {
    color: #9ca3af;
    cursor: pointer;
}

.colorful-lines {
    display: flex;
    gap: 1%;
    width: 100%;
    height: 4px;
    overflow: hidden;
}

.line {
    height: 100%;
    width: 72px;
    flex: 1;
}

.line:nth-child(4n+1) { background-color: #FFD3BD; }
.line:nth-child(4n+2) { background-color: #B3D0FD; }
.line:nth-child(4n+3) { background-color: #FFF8B8; }
.line:nth-child(4n+4) { background-color: #94EDCA; }

@media (max-width: 991.98px) {
    .navbar-nav {
        padding: 20px 0;
        text-align: center;
    }

    .nav-link-custom {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .btn-get-started {
        margin: 10px auto;
    }

    .logo-text {
        margin-left: 0;
    }

    .line:nth-child(n+12) {
        display: none;
    }
}


/* .line:nth-child(1) { background-color: #FFD3BD; }
.line:nth-child(2) { background-color: #B3D0FD; }
.line:nth-child(3) { background-color: #FFF8B8; }
.line:nth-child(4) { background-color: #94EDCA; }
.line:nth-child(5) { background-color: #FFD3BD; }
.line:nth-child(6) { background-color: #B3D0FD; }
.line:nth-child(7) { background-color: #FFF8B8; }
.line:nth-child(8) { background-color: #94EDCA; }
.line:nth-child(9) { background-color: #FFD3BD; }
.line:nth-child(10) { background-color: #B3D0FD; }
.line:nth-child(11) { background-color: #FFF8B8; }
.line:nth-child(12) { background-color: #94EDCA; }
.line:nth-child(13) { background-color: #FFD3BD; }
.line:nth-child(14) { background-color: #B3D0FD; }
.line:nth-child(15) { background-color: #FFF8B8; }
.line:nth-child(16) { background-color: #94EDCA; }
.line:nth-child(17) { background-color: #FFD3BD; }
.line:nth-child(18) { background-color: #B3D0FD; }
.line:nth-child(19) { background-color: #FFF8B8; }
.line:nth-child(20) { background-color: #94EDCA; } */


/* hero section */
.help-section {
    /* margin-top: 8px; */
    background-image:
    linear-gradient(to right,
            rgba(245, 241, 233, 0.95) 10%,
            rgba(245, 241, 233, 0.8) 40%,
            rgba(245, 241, 233, 0) 60%
        ),
        url('src/coaching/hero-image-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 80vh;
    color: #333;
}

.text-bg-pink {
    background-color: #FFA1AC !important;
    color: #FFFFFF !important;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-flex;
    font-size: 18px;
    font-family: 'nunito';
    font-weight: 900;
    font-style: 'black';
    line-height: 18px;
    width: 197px;
    height: 38px;
}

.main-content-text-111 h1{
    /* width: 624px; */
    max-width: 650px;
    height: 130px;
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: clamp(32px, 5vw, 65px);
    line-height: 1.1;
    word-spacing: 10px;
    color: #243755;
}

.main-content-text-111 p{
    max-width: 550px;
    height: 60px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 16px;
    line-height: 1.6;
    word-spacing: 1px;
    color: #777777;
    margin-bottom: 30px;
}

/* .help-section h1, .help-section p { */
    /* color: #243755; */
/* } */

.btn-learn-more {
    border-radius: 50rem;
    width: 193px;
    height: 54px;
    text-transform: capitalize;
    background: url(src/coaching/button-33.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-started-11{
    font-family: 'Nunito';
    font-weight: 800;
    font-style: 'black';
    font-size: 18px;
    line-height: 40px;
    word-spacing: 3px;
    color: #FFFFFF;
    max-width: 624px;
}

/* @media (min-width: 992px) {
    .col-lg-6:nth-child(1) {
        color: #333;
    }
} */


/* HELP section */
.help-section-2 {
    min-height: 600px;
}

.image-collage {
    border-radius: 20px;
    /* background-color: #fff; */
}

.image-collage img {
    /* border-radius: 15px; */
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.col-6 img {
    height: 250px;
}

.image-box-1{
    border-top-left-radius: 50px;   
}

.image-box-2{
    border-top-right-radius: 50px;
}

/* .text-bg-pink {
    background-color: #FFA1AC !important;
    color: #FFFFFF !important;
    font-weight: 900;
} */

.wehelp-h1 {
    color: #243755;
    font-weight: 900;
    font-size: clamp(28px, 4vw, 45px);
    font-family: 'Nunito';
    font-style: 'black';
    line-height: 1.2;
    word-spacing: 1px;
    color: #243755;
    width: 669px;
    height: 91px;
}

.wehelp-p {
    color: #777777;
    max-width: 440px;
    height: 90px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    font-style: 'regular';
    line-height: 1.6;
    word-spacing: 1px;   
}

.check-list {
    max-width: 440px;
    height: 30px;
    font-family: 'roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 16px;
    line-height: 1.6;
    word-spacing: 1px;
    margin-bottom: 5px;
    color: #777777;
}

.btn-learn-more {
    border: none;
    width: 193px;
    height: 54px;
    background: url('src/coaching/button-33.svg') no-repeat center;
    background-size: contain;
    border-radius: 50rem;
    padding: 10px 30px;
    font-weight: 900;
    font-family: 'Nunito';
    font-style: 'black';
    font-size: 18px;
    line-height: 18px;
    word-spacing: 1px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF !important;
}

.image-box-1 { border-top-left-radius: 50px; }
.image-box-2 { border-top-right-radius: 50px; }
.image-box-3 { border-radius: 0 0 20px 20px; }

.image-collage img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

@media (max-width: 991px) {
    .help-section {
        background-image: linear-gradient(rgba(245, 241, 233, 0.9), rgba(245, 241, 233, 0.9)), 
                          url('src/coaching/hero-image-background.png');
        text-align: center;
        padding: 60px 0;
    }

    .main-content-text-111, .col-lg-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-content-text-111 h1, .wehelp-h1 {
        max-width: 100%;
    }

    .ms-5 { margin-left: 0 !important; }
    
    .check-list {
        text-align: left;
        width: 100%;
    }
}

/* .check-list .bi-check-circle-fill {
    color: #FFA1AC;
} */


/* STEPS section */
.steps-section {
    /* background-color: #243755; */
    color: #fff;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.content-container {
    width: 100%;
    min-height: 650px;
    background-color: #243755;
    position: relative;
    z-index: 10;
    padding: 100px 0;
}

.top-wave {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    line-height: 0;
}

.foregroung-image{
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}

.backgrounf-image{
    position: absolute;
    width: 100%;
}

.bottom-wave{
    position: absolute;
    width: 100%;
    line-height: 0;
}

.main-heading {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: clamp(28px, 5vw, 45px);
    line-height: 1.2;
    word-spacing: 1px;
    margin-bottom: 15px;
    color: #FFFFFF;
    height: auto;
}

.subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: 'regular';
    line-height: 1.6;
    word-break: 1px;
    font-size: 16px;
    color: #FFFFFF;
}

.icon-bg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFA1AC;
}

.step-item h4 {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'black';
    font-size: 25px;
    line-height: 23px;
    word-spacing: 1px;
    color: #FFFFFF;
    margin-top: 15px;
}

.step-content {
    /* width: 234px; */
    height: auto;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 16px;
    line-height: 1.6;
    word-spacing: 1px;
    color: #FFFFFF;
}

.btn-book-appointment {
    color: #FFFFFF;
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: 18px;
    line-height: 18px;
    background: url(src/coaching/button-orange-background.svg) no-repeat center;
    background-size: contain;
    width: 210px;
    height: 60px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-book-appointment:hover {
    color: #243755;
}

@media (max-width: 991px) {
    .content-container {
        padding: 60px 0;
    }
    
    .step-item {
        margin-bottom: 40px;
    }

    .main-heading br {
        display: none;
    }
}



/* SERVICES section */
.main-title {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'black';
    font-size: 45px;
    line-height: 45px;
    word-spacing: 1px;
    color: #243755;
}

.subtitle {
    font-family: 'roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 16px;
    line-height: 30px;
    word-spacing: 1px;
    color: #777777;
    font-size: 16px;
}

.service-card {
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* .service-card:hover {
    transform: translateY(-10px);
} */

.card-img-top {
    height: 220px;
    object-fit: cover;
}

.card-white {
    background-color: #ffffff;
    color: #333;
    flex-grow: 1;
}

.card-blue {
    background-color: #B3D0FD;
    color: #243755;
    flex-grow: 1;
}

.card-title-3 {
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 20px;
    font-style: 'black';
    line-height: 1.3;
    color: #243755;
    margin-bottom: 15px;
    width: 182px;
    min-height: 55px;
}

.card-title-111111{
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 20px;
    font-style: 'black';
    line-height: 1.3;
    color: #243755;
    margin-bottom: 15px;
    width: 235px;
    min-height: 55px;
}

.card-text-111111{
    width: 306px;
    height: 60px;
    font-family: 'roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;   
}

.card-title-222222{
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 20px;
    font-style: 'black';
    line-height: 30px;
    color: #243755;
    margin-bottom: 10px;
    width: 268px;
    height: 60px;
}

.card-text-222222{
    width: 306px;
    height: 60px;
    font-family: 'roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 14px;
    line-height: 30px;
    color: #777777;
}

.card-text-3 {
    width: 321px;
    height: 60px;
    font-family: 'roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 14px;
    line-height: 30px;
    color: #777777;
}

.know-more-btn {
    color: #FF9560;
    text-decoration: none;
    font-weight: 900;
    font-size: 15px;
    font-family: 'nunito';
    line-height: 100%;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.card-blue .know-more-btn {
    color: #243755;
}

.card-blue .know-more-btn img{
    margin-left: 5px;
}

.card-white .know-more-btn img{
    margin-left: 5px;
}

.btn-explore-more {
    color: #FFFFFF;
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: 18px;
    line-height: 18px;
    background: #243755;
    background: url(src/coaching/button-33.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 210px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    transition: opacity 0.3s;
}

.btn-explore-more:hover {
    color: #243755;
    opacity: 0.9;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.left-arrow {
    left: -60px;
}

.right-arrow {
    right: -60px;
}

@media (max-width: 1200px) {
    .left-arrow, .right-arrow {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-title {
        font-size: 32px;
    }
    .card-title-custom {
        min-height: auto;
    }
}


/* PRODUCTS section */
.products-section {
    background-color: #F5F1E9;
}

.main-title {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: clamp(30px, 5vw, 45px);
    line-height: 1.1;
    word-spacing: 1px;
    color: #243755;
    margin-bottom: 15px;
}

.subtitle-p-col {
    font-family: 'roboto';
    font-weight: 400;
    font-style: 'regular';
    line-height: 1.6;
    word-spacing: 1px;
    color: #777777;
    font-size: 16px;
    margin-bottom: 0;
}

.btn-visit-shop {
    color: #FFFFFF !important;
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: 18px;
    line-height: 18px;
    background: url(src/coaching/button-orange-background.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 193px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: transform 0.2s ease;
    border: none;
}

.btn-visit-shop:hover {
    transform: scale(1.05);
    background-color: #ff8c9a;
    color: #FFFFFF;
}

.product-card {
    text-align: left;
}

.product-card img {
    display: block;
    width: 100%;
}

.product-card-4-img img{
    display: block;
    width: 100%;
    height: 400px;
    /* background: url(src/coaching/our-product-4.png),
    linear-gradient(rgba(0, 0, 255, 0.7) 90%); */
}

.image-wrapper, .image-container{
    position: relative;
    aspect-ratio: 3 /4;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.img-container img, .image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFA1AC;
    opacity: 0.6;
    z-index: 1;
    pointer-events: none;
}

.product-name {
    font-family: 'Nunito';
    font-weight: 700;
    font-style: 'semibold';
    font-size: 20px;
    line-height: 1.2;
    word-spacing: 1px;
    color: #000000;
    margin-top: 15px;
    min-height: 50px;
}

.product-price {
    font-family: 'Roboto';
    font-weight: 800;
    font-style: 'extrabold';
    font-size: 24px;
    line-height: 30px;
    word-spacing: 1px;
    color: #243755;
    margin-top: 5px;
}

.span-2-through{
    font-family: 'Roboto';
    font-weight: 800;
    font-style: 'extrabold';
    font-size: 25px;
    line-height: 30px;
    word-spacing: 1px;
    color: #FFA1AC;
    margin: 0;
}

@media (max-width: 576px) {
    .product-name {
        font-size: 18px;
        min-height: auto;
    }
    .product-price {
        font-size: 20px;
    }
    .img-container, .image-wrapper {
        aspect-ratio: 1 / 1;
    }
}

/* FEEDBACK section */
:root {
    --map-background: url('src/coaching/map-background.png');
    --quote-start-icon: url('src/coaching/qutation-start-icon.svg');
    --quote-end-icon: url('src/coaching/qutation-end-icon.svg');
    --arrow-left: url('src/coaching/left-arrow-navigate.svg');
    --arrow-right: url('src/coaching/right-arrow-naivgate.svg');
    --primary-color: #4A7EFF;
    --text-color-dark: #243755;
    --text-color-light: #777777;
}

.feedback-section {
    background: var(--map-background) no-repeat center center;
    background-size: contain;
    padding: 80px 0;
    /* padding-top: 8rem; */
    /* padding-bottom: 8rem; */
    /* margin-top: 40px; */
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    /* z-index: ; */
}

.feedback-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: -1;
}

.main-heading-feedback {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: clamp(30px, 5vw, 45px);
    line-height: 45px;
    word-spacing: 1px;
    color: var(--text-color-dark);
}

.sub-heading-feedback {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: '25px';
    line-height: 55px;
    margin-bottom: 0;
    color: var(--text-color-dark);
}

.client-title-feedback {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 15px;
    font-style: 'Black';
    line-height: 23px;
    color: var(--text-color-light);
    text-transform: uppercase;
}

/* .feedback-card {
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
} */

.testimonial-text{
    font-family: 'roboto';
    font-size: clamp(15px, 2vw, 18px);
    line-height: 1.8;
    color: var(--text-color-light);
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    max-width: 900px;
}

.testimonial-text::before,
.testimonial-text::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.testimonial-text::before {
    background-image: var(--quote-start-icon);
    top: 0;
    left: 0;
}

.testimonial-text::after {
    background-image: var(--quote-end-icon);
    bottom: 0;
    right: 0;
}

.feedback-content p {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 16px;
    line-height: 30px;
    word-spacing: 1px;
    color: var(--text-color-light);
    position: relative;
    padding: 0 40px;
}

.feedback-content p::before,
.feedback-content p::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    /* opacity: 0.7; */
}

.feedback-content p::before {
    background-image: var(--quote-start-icon);
    /* top: -1px; */
    width: 100%;
    height: 27px;
    left: 0px;
}

.feedback-content p::after {
    background-image: var(--quote-end-icon);
    /* bottom: -15px; */
    right: 90px;
    height: 28px;
}

.btn-explore-more {
    color: #FFFFFF !important;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 18px;
    background-image: url('src/coaching/button-33.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 210px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav-arrow-feedback {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 10;
}

.left-arrow-feedback {
    background: var(--arrow-left) no-repeat center;
    left: -40px;
}

.right-arrow-feedback {
    background: var(--arrow-right) no-repeat center;
    right: -40px;
}

@media (min-width: 1400px) {
    .left-arrow-feedback { left: -100px; }
    .right-arrow-feedback { right: -100px; }
}

@media (max-width: 768px) {
    .feedback-section {
        padding: 50px 0;
    }
    .testimonial-text {
        padding: 20px 10px;
    }
    .testimonial-text::before { top: -10px; left: -10px; }
    .testimonial-text::after { bottom: -10px; right: -10px; }
}


/* FOOTER section */
:root {
    --footer-bg: #243755;
    --text-color: #a0aec0;
    --heading-color: #FFFFFF;
    --accent-color: #E0ABA8;
    --logo-color: #8EAFE2;
}

.site-footer {
    background-color: var(--footer-bg);
    color: var(--text-color);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.footer-logo {
    width: 228px;
    height: 84px;
    font-style: 'black';
    font-family: 'Nunito';
    font-size: clamp(40px, 8vw, 78px);
    line-height: 1;
    font-weight: 900;
    color: var(--logo-color);
}

.footer-heading {
    width: 207px;
    height: 26px;
    font-family: 'Nunito';
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 900;
    font-style: 'Black';
    line-height: 1.2;
    position: relative;
    display: inline-block;
}

.footer-heading::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 60px;
    background-color: var(--accent-color);
}

.footer-text {
    max-width: 400px;
    height: 60px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 16px;
    line-height: 1.6;
    word-spacing: 1px;
    color: #FFFFFF;
}

.footer-text-2 {
    max-width: 100%;
    height: 55px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: 'regular';
    font-size: 16px;
    line-height: 1.6;
    word-spacing: 1px;
    color: #FFFFFF;
    margin-top: 20px;
}

.footer-links {
    margin-top: 10px;
    padding-left: 0;
    font-size: 0.9rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    word-spacing: 1px;
    font-style: 'regular';
    color: var(--heading-color);
}

.footer-links li {
    line-height: 2.2;
    transition: color 0.3s;
    margin-bottom: 0.9rem;
    cursor: pointer;
}

.footer-email {
    color: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-style: 'Bold';
    font-size: 18px;
    line-height: 30px;
    word-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;
    word-break: break-all;
}

.social-icon {
    display: flex;
    width: 43px;
    height: 43px;
    background-color: rgba(255, 255, 255, 0.15);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.footer-divider {
    border-top: 4px solid #8EAFE2;
    opacity: 1;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.copyright-text {
    font-family: 'Nunito';
    font-weight: 600;
    font-style: 'regular';
    font-size: 16px;
    line-height: 100%;
    color: var(--heading-color);
}

.copyright-text span{
    font-family: 'Nunito';
    font-weight: 900;
    font-style: 'Black';
    font-size: 16px;
    line-height: 100%;
    color: var(--logo-color);
}

@media (max-width: 767px) {
    .site-footer {
        text-align: center;
    }
    .footer-heading::after {
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-text, .footer-text-2 {
        margin: 0 auto;
    }
    .social-icons {
        justify-content: center;
    }
    .footer-links {
        margin-bottom: 20px;
    }
}